/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/
body {
	text-align: center;
}
.box {
	border: thin solid gray;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}
.box img {
	border-radius: 50%;
	margin: 2%;
}

@media screen and (min-width: 540px) {
	.vizitky {
		display: flex;
		flex-wrap: wrap;
	}
	.box {
		flex: 1 0 calc(40% - 20px);
		display: flex;
		align-items: center;
    	justify-content: space-around;
		
	}
	.popis{
		text-align: left;
	}

	.box img {
		margin-right: 20px;
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 960px) {
	.vizitky{
		flex-wrap: nowrap;
	}
	.box {
		flex: 0 1 calc(25% - 20px);
		flex-direction: column;
		}
		
	.popis, .box img {
		text-align: center;
	}
	}

